.animated-background {
    height: 100vh;
    background: linear-gradient(90deg, #b3d9ff, #80bfff, #b3d9ff);
    animation: moveBackground 5s linear infinite;
    background-size: 200% 200%;
}

@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
